body {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

.App {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
}

.header {
  font-size: 40px;
  text-transform: uppercase;
}

.search {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 450px;
}

.search > * {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid grey;
}
.search > input:focus {
  outline: none;
}

.search > button {
  background: #1ad1af;
  cursor: pointer;
  border: none;
}
